/* CSS declarations go here */
.hidden_div{
	display:none;
}

.buttons {
  margin-top: -40px;
}

.js-toggle-website-form {
  margin-top: 8px;
}

.login {
  margin-top: 15px;
  margin-right: 20px;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  padding-left: 40px;
}

.searchBar {
  padding-bottom: 10px;
  width: 100%;
  text-align: right;
  margin-top: -65px;
}

.searchBar input {
  width: 200px;
  border: 1px solid grey;
  line-height: 1.5;
}

.recco {
  margin-right: 20px;
  margin-top: 8px;
}

.page-header {
  margin-left: 20px;
}

li.placeholder {
  list-style: none;
}

.js-upvote, .js-downvote {
  width: 75px;
}
