<head>
    <title>Sabre Site Ace</title>
</head>

<body>
</body>
<template name="ApplicationLayout">
    {{> yield "navbar"}} {{> yield "website_form"}} {{> yield "website_list"}}
</template>
<!-- /.ApplicationLayout -->
<template name="navbar">
    <!-- navbar  - you will be putting the login functions here -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                	Sabre Site Ace
                </a>
                {{#if currentUser}}
                    <a class="btn btn-warning js-toggle-website-form" href="#">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> ADD SITE
                    </a>
                {{/if}}
            </div>
            <div class="login pull-right">
                {{> loginButtons}}
            </div>
            <!-- /.login -->
        </div>
    </nav>
</template>
<!-- /.navbar -->
<template name="website_form">
    <div class="modal fade" id="website_form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Add Site</div>
                    <!-- /.modal-title -->
                </div>
                <!-- /.modal-header -->
                <div class="modal-body">
                    <form class="js-save-website-form">
                        <div class="form-group">
                            <label for="url">Site address</label>
                            <input type="text" class="form-control" id="url" placeholder="http://www.mysite.com">
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Mysite">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" placeholder="I found this site really useful for ...">
                        </div>
                        <button class="btn btn-default" >Submit</button>
                        <br/>
                        <br/>
                    </form>
                </div>
                <!-- /.modal-body -->
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>
                <!-- /.modal-footer -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
<!-- template that displays several website items -->
<template name="website_list">
    <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="/">All Sites</a></li>
          {{#if currentUser}}
            <li role="presentation"><a href="/reccos">Recommended Sites</a></li>
          {{/if}}
        </ul>
        <br>
	</div>
    <div class="container">
        {{>searchBox}}
    </div>
    <!-- /.container -->
</template>
<!-- template that displays individual website entries -->
<template name="website_item">
    <li>
        <a href="/website_details/{{_id}}">{{title}}</a>
        <a target="_blank" class="btn btn-link" href="{{url}}" title="Open in new window">
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
        </a>
        <p>
            {{description}}
        </p>
        <p>
        		Added: {{prettifyDate createdOn}} by {{getUser createdBy}}
        </p>
        <div class="buttons pull-right">
	        <a href="#" class="btn btn-success js-upvote">
	            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
	             {{uprating}}
	        </a>
	        <a href="#" class="btn btn-danger js-downvote">
	            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> {{downrating}}
	        </a>
	      </div>
        <hr>
        <!-- you will be putting your up and down vote buttons in here! -->
    </li>
</template>
<template name="website_details">
	<div class="container">
			<a class="btn btn-default" href="/">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> BACK
      </a>
      <hr>
      <div>
		    <h2>{{title}}</h2>
		    <a target="_blank" href="{{url}}">{{title}}</a>
		    <p>
		        {{description}}
		    </p>
		    <p>
		    		Added on: {{createdOn}} by {{getUser createdBy}}
		    </p>
		    <p>
		    		Up Voted: {{uprating}} and Down Voted: {{downrating}}
		    </p>
	    </div>
	    <div class="comment-section">
	        {{> commentsBox id=_id}}
	    </div>

	</div> <!-- /.container -->
</template>
<template name="searchBox">
		<div class="searchBar pull-right">
			Search: {{> EasySearch.Input index=websiteIndex }}
			<br>
		</div>
    <ol>
        {{#EasySearch.Each index=websiteIndex }}
            {{>website_item}}
        {{/EasySearch.Each}}
    </ol>

    {{#EasySearch.IfNoResults index=websiteIndex}}
       <div class="no-results">No results found!</div>
     {{/EasySearch.IfNoResults}}
</template>
<template name="reccos_list">
    <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/">All Sites</a></li>
          <li role="presentation" class="active"><a href="/reccos">Recommended Sites</a></li>
        </ul>
        <br>
    </div>
    <div class="container">
        <ol>
            {{#each websites}}
                {{>website_item}}
            {{else}}
                <li class="placeholder">Up vote some websites to see recommended websites!</li>
            {{/each}}
        </ol>
    </div>
    <!-- /.container -->
</template>
